{% if response.message|length %}
    <div class="c-generic-message">
        {{ response.message }}
    </div>
{% endif %}

{% if response.errors|length > 0 %}
    {% for error in response.errors %}
        {% if error.field == '' %}
            <div class="c-generic-error" role="alert">
                {{ error.message }}
            </div>
        {% else %}
            {# Field errors are usually handled in the form, but if you want them to be shown at the top, you can use something like this:#}
{#            <div class="c-error">#}
{#                {{ lex('commerce.address.' ~ error.field) }}: {{ error.message }}#}
{#            </div>#}
        {% endif %}
    {% endfor %}
{% endif %}