<main role="main" class="checkout-container">

    {% if commerce_mode == 'test' %}
        <p class="checkout-test">
            {{ lex('commerce.shop_in_testmode') }}
        </p>
    {% endif %}


    {% autoescape false %}
        {{ output }}
    {% endautoescape %}

    <p id="checkout-error" aria-live="polite"></p>
</main>
