{% if order.user > 0 and user.username %}
    <div class="c-step-box">
        <p>
            <span class="icon">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            </span>

            Logged in as <span class="c-step-highlight">{{ user.username }}</span>. <a href="[[~[[++commerce.login_resource]]? &service=`logout` &returnTo=`[[++commerce.checkout_resource]]`]]">Not you?</a>
        </p>
    </div>
{% else %}
    <div class="c-step-box">
        <p>
            <span class="icon">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            </span>

            Checking out as guest.
        </p>
    </div>

    <a class="c-button" href="{{ step.link }}">
        <span class="icon">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
        </span>

        Login or register
    </a>

{% endif %}
