
<form method="POST" action="{{ current_url }}">
    <input type="hidden" name="add_address" value="1">

    <h3>{{ lex('commerce.shipping_address') }}</h3>

    <div class="c-collapsable-box">
        {% for address in previously_used_shipping %}
            {% include "frontend/checkout/partial/previous-address.twig" with {
                address: address,
                type: 'shipping',
                current_address: address_shipping_user_address
            } %}
        {% endfor %}
        <div class="c-collapsable-option">
            <input type="radio" class="c-collapsable-toggle" id="shipping-address-new" name="shipping_address" value="new" {% if address_shipping_id == 'new' %}checked="checked"{% endif %}>
            <label class="c-collapsable-option-title" for="shipping-address-new">
                <span class="icon icon--checked">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                </span>
                <span class="icon icon--unchecked">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                </span>
                Add new address
            </label>
            <div class="c-collapsable-option-content">
                {% include "frontend/checkout/partial/shipping-address-fields.twig" %}
            </div>
        </div>
    </div>

    <h3>{{ lex('commerce.billing_address') }}</h3>

    <div class="c-collapsable-box">
        <div class="c-collapsable-option">
            <input type="radio" class="c-collapsable-toggle" id="billing-address-same" name="billing_address" value="same" {% if address_billing_id == 'same' or not address_billing_id %}checked="checked"{% endif %}>
            <label class="c-collapsable-option-title" for="billing-address-same">
                <span class="icon icon--checked">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                </span>
                <span class="icon icon--unchecked">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                </span>
                Same as shipping address
            </label>
        </div>
        {% for address in previously_used_billing %}
            {% include "frontend/checkout/partial/previous-address.twig" with {
                address: address,
                type: 'billing',
                current_address: address_billing_user_address
            } %}
        {% endfor %}
        <div class="c-collapsable-option">
            <input type="radio" class="c-collapsable-toggle" id="billing-address-new" name="billing_address" value="new" {% if address_billing_id == 'new' %}checked="checked"{% endif %}>
            <label class="c-collapsable-option-title" for="billing-address-new">
                <span class="icon icon--checked">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                </span>
                <span class="icon icon--unchecked">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                </span>
                Add new address
            </label>
            <div class="c-collapsable-option-content">
                {% include "frontend/checkout/partial/billing-address-fields.twig" %}
            </div>
        </div>
    </div>

    <div class="c-submit">
        <button class="c-button c-primary-button">Confirm address</button>
    </div>
</form>
